<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.store.dao.dict.DictMapper">
    <resultMap id="baseResultMap" type="com.store.domain.Dict">
        <id column="id" property="id" jdbcType="INTEGER"/>
        <result column="category_code" property="categoryCode" jdbcType="VARCHAR"/>
        <result column="code" property="code" jdbcType="VARCHAR"/>
        <result column="name" property="name" jdbcType="VARCHAR"/>
        <result column="short_name" property="shortName" jdbcType="VARCHAR"/>
        <result column="image_url" property="imageUrl" jdbcType="VARCHAR"/>
        <result column="parent_id" property="parentId" jdbcType="VARCHAR"/>
        <result column="level_type" property="levelType" jdbcType="VARCHAR"/>
        <result column="sort" property="sort" jdbcType="VARCHAR"/>
        <result column="remark" property="remark" jdbcType="VARCHAR"/>
        <result column="created_by" jdbcType="VARCHAR" property="createdBy" />
        <result column="created_date" jdbcType="TIMESTAMP" property="createdDate" />
        <result column="last_modified_by" jdbcType="VARCHAR" property="lastModifiedBy" />
        <result column="last_modified_date" jdbcType="TIMESTAMP" property="lastModifiedDate" />
        <result column="flag" jdbcType="BIT" property="flag" />
    </resultMap>
    <sql id="Base_Column_List">
        `id`, `category_code`, `code`, `name`, `short_name`, `image_url`,`parent_id`,
        `level_type`, `sort`, `remark`, `created_by`, `created_date`,
        `last_modified_by`, `last_modified_date`, `flag`
    </sql>

    <select id="findDict" resultMap="baseResultMap" parameterType="com.store.domain.Dict">
        SELECT
            <include refid="Base_Column_List"/>
        FROM
            dict
        WHERE flag=1
        <if test="id != null and id != 0">
                AND `id` = #{id}
            </if>
            <if test="categoryCode!= null">
                AND `category_code` = #{categoryCode}
            </if>
            <if test="code!= null">
                AND `code` = #{code}
            </if>
            <if test="name!= null">
                AND `name` = #{name}
            </if>
            <if test="shortName!= null">
                AND `short_name` = #{shortName}
            </if>
            <if test="parentId!= null">
                AND `parent_id` = #{parentId}
            </if>
            <if test="levelType!= null">
                AND `level_type` = #{levelType}
            </if>
            <if test="sort!= null">
                AND `sort` = #{sort}
            </if>
            ORDER BY sort
    </select>
    <update id="updateDictInfo" parameterType="com.store.domain.Dict">
        update dict
        <set>
            <if test="categoryCode!= null">
                 `category_code` = #{categoryCode},
            </if>
            <!--<if test="code!= null">-->
                <!--`code` = #{code},-->
            <!--</if>-->
            <if test="name!= null">
                `name` = #{name},
            </if>
            <if test="shortName!= null">
                `short_name` = #{shortName},
            </if>
            <if test="imageUrl!= null">
                `image_url` = #{imageUrl},
            </if>
            <if test="parentId!= null">
                `parent_id` = #{parentId},
            </if>
            <if test="levelType!= null">
                `level_type` = #{levelType},
            </if>
            <if test="sort!= null">
                `sort` = #{sort}
            </if>
        </set>
        where `id` = #{id}

    </update>
</mapper>